@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600&display=swap');


* {
  margin: 0;
  padding: 0;
  border: 0;
  scroll-behavior: smooth;  /*smooth page scrolling*/
}

body {
  font-family: "Roboto", sans-serif;
  position: relative;
}

.content-padding {
    padding-top: 55px;
    padding-bottom: 55px;
}

.block-divider {
    margin: 1rem auto;
    width: 35px;
    height: 8px;
    border: 0;
    border-radius: 5px;
    background-color: blue;
}

.uppercase {
    text-transform: uppercase;
}

.center {
    text-align: center;
}

/* ------------------------------COLOR */
.home-title-color {
    color: rgba(191, 146, 50, 0.5);
}

.bg-color-sections {
    background-color: rgba(70, 50, 13, 0.5);
}

.text-color-white {
    color: white;
}

/* ------------------------------NAVBAR */
.nav-container {
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
    position: fixed;
}

/* ------------------------------HOMEPAGE */
.home-container {
  padding: 0;
  height: 90vh;
  background: url(../images/hill-lauryn-540.jpg) no-repeat center fixed;
  /*     
    above is shorthand for this:
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; 
    */
  background-size: cover;
}

.opaque-overlay {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron {
    font-family: "Inconsolata", Montserrat;
    position: absolute;
    top: 34%;
    width: 100%;
    text-align: center;
    background: transparent;
}

.display-4 {
    font-weight: 600;
}

@media (min-width: 992px) {
    .display-4 {
        font-size: 8.5rem;
    }
}


/* ------------------------------ABOUT */
.about-container {
    padding-left: 15%;
    padding-right: 15%;
    
}
#about {
    background-image:brown;
}

/* ------------------------------TOUR */

.tour-container {
    padding: 0;
    background: url(../images/lauryn-hill-live-2.jpg) no-repeat top center fixed;
  /*     
    above is shorthand for this:
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; 
    */
  background-size: cover;
}

.tour-content-padding {
    padding: 55px 15px;
}

.tour-container table {
    margin-top: 16px;
}

/* ------------------------------MUSIC & VIDEO */

.album1 {
    background: url(../images/the-miseducation-of-lauryn-hill.jpg);
}

.album2 {
    background: url(../images/mtv-unplugged.jpg);
}

.album2 {

}

.mv-container {

}

.album-container {
    width: 250px;
    height: 250px;
    margin: 15px auto;
    border-radius: 8px; 

    background-position: center;
    background-size: cover;
    
}


/* ------------------------------MUSIC & VIDEO */
.contact-container input {
    margin-bottom: 15px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
}
